{{#each this}}
<li>
    <a href="" class="card-link">
        <img src="https://image.tmdb.org/t/p/w200{{poster_path}}" alt="{{title}}">
        <div class="descr">
            <h2 class="film-name">{{title}}</h2>
            <ul>
                <li class="film-genre">{{genres.name}} | </li>
                <li class="film-year">{{release_date}}</li>
            </ul>
        </div>
    </a>
</li>
{{/each}}