<li class="content-img">
    <img src="https://image.tmdb.org/t/p/w300{{poster_path}}" alt="{{title}}">
</li>
<li class="content-descr">
    <h2 data-id="{{id}}">{{title}}</h2>
    <ul class="descr-list">
        <li>
            <p class="descr-header"> Vote / Votes</p>
            <p><span class="vote">{{vote_average}}</span> / {{vote_count}}</p>
        </li>
        <li>
            <p class="descr-header">Popularity</p>
            <p>{{popularity}}</p>
        </li>
        <li>
            <p class="descr-header">Original Title</p>
            <p>{{original_title}}</p>
        </li>
        <li>
            <p class="descr-header">Genre</p>
            <ul class="genre-list">
                {{#each genres}}
                <li>{{this}}</li>
                {{/each}}
            </ul>
        </li>

    </ul>
    <h3>About</h3>
    <p class="overview">{{overview}}</p>
    <ul class="btn-list">
        <li><button class="js-btn watched-btn">add to Watched</button></li>
        <li><button class=" js-btn queue-btn">add to queue</button></li>
    </ul>
</li>