{{#each this}}
<li>

    <div class="card-link" data-id="{{id}}">
        <img src="https://image.tmdb.org/t/p/w300{{poster_path}}" alt="картинка фильма" width="280" data-id="{{id}}"
            class="film-img">
        <div class="descr">
            <h2 class="film-name">{{original_title}}</h2>
            <ul>
                <li class="film-genre">{{vote_average}} | </li>
                <li class="film-year">{{release_date}}</li>
            </ul>

            {{!-- //previous --}}
            {{!-- <div>
                <img src="https://image.tmdb.org/t/p/w300{{poster_path}}" alt="картинка фильма" width="280"
                    data-id="{{id}}" class="film-img">

            

                <div class="card-bottom">
                    <div class="descr">
                        <h2 class="film-name">{{original_title}}</h2>
                        <p class="film-genre">genre &#10072; <span class="film-year"> {{release_date}}</span></p>
                    </div>

                    <div class="rating">{{vote_average}}</div>
                </div>
            </div> --}}

                  


        </div>
</li>
{{/each}}